<div class="row header">
	<h1>
		<img src="" alt="" />
	</h1>
	<nav class="navigation">
		<a [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}" class="navigation__item">Lloyd Stumpel</a>
		<a [routerLink]="['/about']" routerLinkActive="router-link-active" class="navigation__item">About</a>
		<a [routerLink]="['/projects']" routerLinkActive="router-link-active" class="navigation__item">Projects</a>
		<a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="navigation__item">Contact</a>
	</nav>
</div>
