@import 'variables';

body {
    display: block;
    margin: 0;
}
p,div {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
	}