i.right {
	transition: .4s ease-out;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
  }
  
  a.arrow:hover .right {
	  margin-left:1em;
	  transition: .4s ease-out;
  }

//   .left {
// 	  transform: rotate(135deg);
// 	  -webkit-transform: rotate(135deg);
//   }
  
//   .up {
// 	  transform: rotate(-135deg);
// 	  -webkit-transform: rotate(-135deg);
//   }
  
//   .down {
// 	  transform: rotate(45deg);
// 	  -webkit-transform: rotate(45deg);
//   }