<div>
	<section class="row about">

		<div class="column small-22 medium-12 large-12 about__column">

			<h1>About me</h1>
			<div class="row">
				<div class="column small-22 medium-12 large-12">
					<h2 class="text--accentcolor">Frameworks/library's:</h2>
					<ul>
						<li>Angular(v2-v7)
							
								<span class="fa fa-star checked align-right"></span>
								<span class="fa fa-star checked align-right"></span>
								<span class="fa fa-star checked align-right"></span>
								<span class="fa fa-star checked align-right"></span>
								<span class="fa fa-star align-right"></span>
							
						</li>
						<li>NodeJs
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star"></span>
						</li>
						<li>ExpressJs
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star"></span>
						</li>

						<li>Ruby On rails
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star"></span>
							<span class="align-right fa fa-star"></span>
						</li>

						<li>VueJs 
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star"></span></li>
						<li>MongoDB
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
						</li>
						<li>PostgreSQL
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star checked"></span>
							<span class="align-right fa fa-star"></span>
							<span class="align-right fa fa-star"></span>
							<span class="align-right fa fa-star"></span>
						</li>
					</ul>
				</div>
				<div class="column small-22 medium-12 large-12">
					<h2 class="text--accentcolor">Work experience:</h2>
					<p>
						<strong>terragon:</strong> 2015-2016 <br>
						webbuilding using content management systems; Wordpress, Foursquare.
					</p>
					<p>
						<strong>poort 80:</strong> june 2017-october 2018 - intern <br>
						Mean-stack, Ruby on Rails, Vuejs (Mevn-stack)
					</p>
					<p><a class="arrow link" [routerLink]="['/projects']">projects <i class="right"></i></a></p>
				</div>

			</div>
		</div>

	</section>

</div>