<div>
	<section class="row about">

		<div class="column small-22 medium-12 large-12 about__column">

			<h1>About me</h1>
			<div class="row">
				<div class="column small-22 medium-12 large-12">
					<h2 class="text--accentcolor">Frameworks/library's:</h2>
					<ul>
						<li>Angular(v2-v7)</li>
						<li>NodeJs</li>
						<li>ExpressJs</li>
						<li>Ruby On rails</li>
						<li>VueJs</li>
						<li>MongoDB</li>
						<li>PostgreSQL</li>
					</ul>
				</div>
				<div class="column small-22 medium-12 large-12">
					<h2 class="text--accentcolor">Work experience:</h2>
					<p>
						<strong>terragon:</strong> 2015-2016 <br>
						webbuilding using content management systems; Wordpress, Foursquare.
					</p>
					<p>
						<strong>poort 80:</strong> june 2017-october 2018 - intern <br>
						Mean-stack, Ruby on Rails, Vuejs (Mevn-stack)
					</p>
					<p><a class="arrow link" [routerLink]="['/projects']">projects <i class="right"></i></a></p>
				</div>

			</div>
		</div>

</section>

</div>