.header {
	justify-content: space-between;
	align-items: center;
	padding: grid(1);
}

.navigation {
	display: flex;
	float: right;
	&__item { // i know sis should declare them seperate this would be too hard to maintain.
		font-size: 1rem;
		text-decoration: none;
		color: color(Black);
		font-weight: 500;
		position: relative;
		& + .navigation__item {
			margin-left: grid(1);
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 1px;
			background: color(Black);
			transition: .4s ease-out;
		}
		&:hover {
			&:after {
				height: 5px;
			}
		}
	}
	 @include bp (mobile) { // anything bigger then mobile < MOBILE FIRST JUST EXAMPLE
		grid-template-columns: repeat(4, 1fr);
  		grid-auto-rows: auto;

	 }
}
