<div class="page">
	<div>
		<h1>Lloyd Stumpel</h1>
		<!--<img src="" alt="" srcset="">-->
		<p>
			I am a fullstack java script developer mostly utilizing the Mean stack, while also enjoying to switch certain technologies out for others.
			aside from the mean stack i also have experience with Ruby on rails, vuejs, sqlite3 and postgresql databases.
			I enjoy working on projects in my free time mostly creating boiler plates for technologies i often utilze. so creating new projects becomes a breeze.
			Due to the fact that i often handle the full stack i find myself often creating dashboards so interacting with my databases can just be done through the website/ project.
		</p>
	</div>
</div>