<div>
	<section class="row home">
		<div class="column small-22 medium-20 large-10 home__column">
			<h1>Lloyd Stumpel</h1>
			<h2 class="text--accentcolor">Fullstack developer</h2>
			<!--<img src="" alt="" srcset="">-->
			<p>
				I am a fullstack JavaScript developer mostly utilizing the <strong>mean stack</strong>, while also enjoying to switch certain technologies out for others.
				aside from the mean stack I also have experience with <strong>Ruby on Rails</strong>, <strong>Vue.js</strong>, <strong>Sqlite3</strong> and <strong>PostgreSQL databases</strong>.
			</p>
			<p>
				I enjoy working on projects in my free time, mostly creating boiler plates for technologies I often utilize to make creating new projects a breeze.
				Due to the fact that I often handle the <strong>full stack</strong> I find myself often creating dashboards in order to make interacting with my databases through the website/project possible.
			</p>
		</div>
	</section>
</div>
